<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="">
     <a routerLink="reactiveform" class="nav-link" routerLinkActive="active">Demos for reactive form demo</a>
 </li>
   </ul>

   <ul class="navbar-nav">
    <li class="">
     <a routerLink="templateform" class="nav-link" routerLinkActive="active">Demos for template driven form form demo</a>
 </li>
   </ul>

   <router-outlet></router-outlet>
</nav>
<app-reactiveformdemo></app-reactiveformdemo>