

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
  

      <li class="">
        <a routerLink="interpolation" class="nav-link" routerLinkActive="active">Demos for Interpolation</a>
    </li>
      </ul>

    <ul class="navbar-nav">
        <li class="">
        <a routerLink="propertybinding" class="nav-link" routerLinkActive="active">Demos for propertybinding</a>
    </li>
  
    </ul>

    <ul class="navbar-nav">
       <li class="">
        <a routerLink="eventbinding" class="nav-link" routerLinkActive="active">Demos for event binding</a>
    </li>
      </ul>

      <ul class="navbar-nav">
        <li class="">
         <a routerLink="pipes" class="nav-link" routerLinkActive="active">Demos for pipes</a>
     </li>
       </ul>




    

  </nav>
  <router-outlet></router-outlet>